################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin/
obj/
Release/
.vs/

/src/Demo.Web/.vs
/src/Demo.Web/Demo.Web/App_Data 
/src/Demo.Web/Demo.Web/Localization
 
 
 
/nuget_packages
